//Page Header 
@import 'variables';
@import 'mixins';
@import 'placeholders';

.main-header {
    background-color: $primary-dark;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: $col-offset;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    &__brand {
        border-bottom: 1px solid $primary;
    }

    &__user {
        @include padding-tb($col-offset);

        .user {
            &__label, &__name {
                display: block;
            }

            &__image {
                padding: $text-offset;
                max-width: 55px;
            }

            &__label {
                font-size: $font-size-small;
                color: $secondary;
            }

            &__name {
                font-size: $font-size-large;
                color: $tetriary;
                font-weight: $font-weight-bolder;
                white-space: nowrap;
            }
        }
    }

    &__links {
        @include margin-lr(-$col-offset);

        ul {
            list-style-type: none;
            padding: 0;

            li > a {
                color: $white;

                &:hover, &:focus {
                    color: darken($white, 10%);
                }
            }
        }

        > ul {
            > li {
                margin-bottom: $block-offset;

                > a {
                    background-color: $primary;
                    display: block;
                    padding: $col-offset;
                    font-weight: $font-weight-bold;

                    &:hover, &:focus {
                        background-color: $primary-light;
                    }
                }

                &.active {
                    > a {
                        background-color: $primary-light;
                    }
                }
            }
        }

        .child {
            padding: $col-offset;
            margin-left: 20%;
            display: none;
        }

        .separator {
            border-bottom: 1px solid $primary;
            @include margin-tb($text-offset);
        }

        .parent {
            > a {
                position: relative;

                &:first-child {
                    &:before {
                        content: "\f078";
                        font-family: "Font Awesome 5 Free";
                        position: absolute;
                        top: 50%;
                        right: $col-offset;
                        transform: translateY(-50%);
                        z-index: 0;
                    }
                }
            }
        }
    }

    &__footer {
        background-color: darken($primary-dark, 10%);
        font-size: 10px;
        color: $gray;
        margin: -$col-offset;
        margin-top: 0;
        padding: $col-offset;

        img {
            width: 150px;
            height: auto;
        }

        p {
            margin-bottom: 0;
        }
    }
}
