// Colors
$primary: #41344e;
$primary-light: #5e4370;
$primary-dark: #392f45;
$secondary: #deb144;
$tetriary: #ef6b94;

$white: #fff;
$black: #24222b;

$gray: #aaa;

//Fonts
$font-family-base: 'Roboto', sans-serif;
$font-weight-base: 400;
$font-size-base: 16px;
$line-height-base: 1.6;

//Font-sizes
$font-size-small: 12px;
$font-size-large: 22px;

//Font-weights
$font-weight-light: 300;
$font-weight-bold: 700;
$font-weight-bolder: 900;

//Offsets
$text-offset: 5px;
$col-offset: 15px;


