@model List<ESM.Models.Agreement>

<div>
    @if (Model.Count().Equals(0))
    {
        <p>Brak umów</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Opis</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>PDF</th>
            </tr>
            @foreach (var agreement in Model)
            {

                <tr>
                    <td>@agreement.Description</td>
                    <td>@agreement.StartDate</td>
                    <td>@agreement.EndDate</td>
                    <td><a href="@Url.Action("GetFile", "Agreements", new { agreementId = agreement.AgreementId })">Zobacz umowę</a></td>
                </tr>
            }
        </table>
    }
</div>
