@model List<ESM.ViewModels.Earnings.EarningForDisplayDto>

<div>
    @if (Model.Count().Equals(0))
    {
        <p>Brak zarobków</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Zarobki</th>
                <th>Data zmiany</th>
            </tr>
            @foreach (var earning in Model)
            {

            <tr>
                <td><a href="@Url.Action("Details", "Earnings", new { id = earning.EarningId })">@earning.Ammount.ToString("c")</a></td>
                <td>@earning.ChangeDate.ToShortDateString()</td>
            </tr>
            }
        </table>
    }
</div>
