@model List<ESM.ViewModels.Earnings.EarningForDisplayDto>

<div>
    @if (Model.Count().Equals(0))
    {
        <p>Brak zarobków</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Zarobki</th>
                <th>Data zmiany</th>
            </tr>
            @foreach (var earning in Model)
            {

                <tr>
                    <td>@earning.Ammount.ToString("c")</td>
                    <td>@earning.ChangeDate.ToShortDateString()</td>
                </tr>
            }
        </table>
    }
</div>
