

@Html.Partial("_SearchForm")

<div class="employees col-xs-12">
        <ul class="crud-index__navbar">
            <li><a href="@Url.Action("Create","Emplyees")" class="btn btn-primary btn-lg">Dodaj pracownika</a></li>
        </ul>
    @Html.Partial("_EmployeesList")
</div>
