

@Html.Partial("_SearchForm")

<nav class="main-header__buttonadd">
    <ul>
        <li><a href="@Url.Action("Create","Employees")">Dodaj pracownika</a></li>
    </ul>
</nav>
<br />

@Html.Partial("_EmployeesList")