.home-footer{
    background-color: rgba($primary--dark,0.4);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @include padding-tb($offset--medium);
    &__copy{
        margin: 0;
    }
}
