/// <reference path="../base/variables" /
/// <reference path="../base/mixins" /

.main-header {
    background-color: $primary--dark;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: $offset--medium;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    &__brand {
        border-bottom: 1px solid $primary;
    }

    &__user {
        @include padding-tb($offset--medium);
        
        .user {

            &__label, &__name {
                display: block;
            }

            &__image {
                padding: $offset--small;
                max-width: 55px;
            }

            &__label {
                font-size: $font__size--small;
                color: $secondary;
            }

            &__name {
                font-size: $font__size--large;
                color: $tetriary;
                font-weight: $font__weight--bolder;
                line-height: 1;
                padding-bottom: $offset--small;
                border-bottom: 2px solid $secondary;
            }
        }
    }

    &__links {
        @include margin-lr(-$offset--medium);

        ul {
            list-style-type: none;
            padding: 0;

            li > a {
                color: $white;

                &:hover, &:focus {
                    color: darken($white, 10%);
                }
            }
        }

        > ul {
            > li {
                margin-bottom: $offset--medium;

                > a {
                    background-color: $primary;
                    display: block;
                    padding: $offset--medium;
                    font-weight: $font__weight--bold;

                    &:hover, &:focus {
                        background-color: $primary--light;
                    }
                }

                &.active {
                    > a {
                        background-color: $primary--light;
                    }
                }
            }
        }

        .child {
            padding: $offset--medium;
            margin-left: 20%;
            display: none;
        }

        .separator {
            border-bottom: 1px solid $primary;
            @include margin-tb($offset--small);
        }

        .parent {
            > a {
                position: relative;

                &:first-child {
                    &:before {
                        content: "\f078";
                        font-family: "Font Awesome 5 Free";
                        position: absolute;
                        top: 50%;
                        right: $offset--medium;
                        transform: translateY(-50%);
                        z-index: 0;
                    }
                }
            }
        }
    }

    &__footer {
        background-color: darken($primary--dark, 10%);
        font-size: 10px;
        color: $gray;
        margin: -$offset--medium;
        margin-top: 0;
        padding: $offset--medium;

        img {
            width: 150px;
            height: auto;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.home-navbar{
    background-color: rgba($primary--dark,0.4);
    .navbar-nav{
        li{
            > a{
                color: $white;
                &:hover,&:focus{
                    color: $tetriary;
                }
            }
        }
    }
}
