/// <reference path="../base/variables" /
.main-sidebar{
    background-color: $primary--dark;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    @include padding-tb($offset--medium);
}