.employee-details {
    &__name {
        margin-top: 30px;
        color: $tetriary;
    }

    &__surname {
        font-size: 110%;
    }

    &__title {
        @include padding-tb(10px);
        @include margin-tb(10px);
        border: 1px solid $primary--light;
        border-width: 1px 0;
        color: $secondary;
    }

    &__info {
        font-size: 20px;

        strong {
            font-size: 110%;
            color: $secondary;
        }
    }
    &__earnings{
        font-size: 22px;
        strong{
            font-size: 110%;
            letter-spacing: 2px;
        }
    }
}
