.home-index {
    .home-features {
        .fas {
            background: linear-gradient(45deg, $tetriary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
