@model ESM.Models.Calculator

<div id="calculator-section" class="col-xs-12 col-sm-8 well">
    <h3>Podsumowanie:</h3>
    <hr />
    <h4><b>Netto:</b> @Model.Netto.ToString("c")</h4>
    <h4><b>Brutto:</b> @Model.Brutto.ToString("c")</h4>
    <h3><b>Koszty pracodawcy:</b> @Model.EmployeeCost.ToString("c")</h3>

</div>

