@model ESM.Models.Calculator

<div id="calculator-section" class="col-xs-12">

    <h3>Netto: @Model.Netto.ToString("c")</h3>
    <h3>Brutto: @Model.Brutto.ToString("c")</h3>
    <h3>Koszty pracodawcy: @Model.EmployeeCost.ToString("c")</h3>

</div>

