@Html.Partial("_SearchFormCompanies")
<div class="dashboard col-xs-12">
        <ul class="crud-index__navbar">
            <li><a href="@Url.Action("Create","Companies")" class="btn btn-primary btn-lg">Dodaj firmę</a></li>
        </ul>
    @Html.Partial("_CompaniesList")
</div>




