<header class="col-xs-12">
    <h2 class="heading--page">@ViewBag.Title</h2>
</header>
<div class="col-xs-12 page-content">
    <div class="row">
        <div class="col-xs-8">
            <br />
            <h2>
                MM&GW Solutions
                <br />
                email:
                <strong>contact@mmgw.pl</strong>
            </h2>
        </div>
    </div>
</div>