<header class="col-xs-12">
    <h2 class="heading--page">@ViewBag.Title</h2>
</header>
<div class="col-xs-12 page-content">
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nibh risus, sollicitudin sed pretium in, mollis dapibus velit. Nullam a feugiat tortor, eu tempor tortor. Quisque nec nibh massa. Vivamus molestie nunc vel massa tristique lacinia. Suspendisse fringilla nibh fermentum tempor euismod. Quisque sodales massa nec orci dignissim, non tempus ante efficitur. Pellentesque eget nibh et ligula cursus aliquam a ac quam. Vivamus egestas sagittis augue, vel facilisis quam sagittis id. In ex nisl, venenatis et facilisis id, scelerisque iaculis libero.
    </p>
    <p>
        Quisque laoreet nisi id tempus pulvinar. Donec dui mi, rhoncus quis blandit in, venenatis ut mauris. Sed nisi sapien, efficitur sed feugiat sit amet, posuere condimentum nisl. Pellentesque sed suscipit nisl, a tincidunt enim. Phasellus molestie eros quis malesuada scelerisque. Fusce scelerisque ultrices accumsan. Morbi laoreet ipsum ut tellus tristique convallis. Donec nec pretium turpis, nec varius libero. Sed a sem quis nisi vehicula maximus eget sed ipsum. Morbi ac maximus velit. Morbi nec porttitor ex.
    </p>
    <p>
        Donec at elit nisi. Etiam ultricies non nibh auctor luctus. Sed pharetra varius lacus, sed laoreet augue feugiat quis. Morbi vel tempor lorem, nec vehicula quam. Aenean eleifend ex nec odio accumsan, in blandit metus facilisis. Ut condimentum rutrum dignissim. Aenean vitae efficitur ex. Phasellus facilisis aliquet fermentum. Maecenas lobortis, elit ac dictum lacinia, sapien urna luctus lorem, eu condimentum arcu massa sit amet metus. Nam nec tempus dolor, a efficitur metus. Vestibulum urna ex, gravida sit amet rhoncus imperdiet, fringilla eleifend nulla. Praesent eu gravida nunc.
    </p>
</div>


