<div class="home">
    <section class="col-xs-12 home__top">
        <div class="container text-center">
            <div class="row flex flex--column flex--j-center">
                <img class="img-responsive center-block" src="~/Images/esm logo.png" alt="Alternate Text" />
                <h1 class="top__header">Employees System Manager</h1>
                <p>Nowoczesne rozwiązanie zapewniające organizację oraz porządek w przedsiębiorstwie.</p>     
            </div>
            
        </div>
    </section>
    <section class="home__features col-xs-12">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="fas fa-users fa-5x"></i>
                <h3>Zarzadzanie pracownikami</h3>
                <br />
                <p>
                    System ESM oferuje kompleksowe zarządzanie pracownikami w Twojej firmie! Niezależnie czy zarządzasz małą rodzinną firmą czy korporacją
                    zatrudniającą setki pracowników... Kiedy poznasz możliwości ESM nie będziesz umiał bez niego pracować!
                </p>
            </div>

            <div class="col-sm-4 text-center">
                <i class="fas fa-clock fa-5x"></i>
                <h3>Historia kariery</h3>
                <br />
                <p>Możesz śledzić na bierzaco historię kariery swoich pracowników. Każda zmiana wynagrodzenia, szkolenia, awanse są automatycznie zapisywane w historii pracownika.</p>
            </div>

            <div class="col-sm-4 text-center">
                <i class="fas fa-calendar fa-5x"></i>
                <h3>Kalendarz wydarzeń</h3>
                <br />
                <p>Już nigdy więcej nie zapomnisz o kończącej się umowie pracownika. Nigdy więcej nie pominiesz ważnego wydarzenia. Dzięki ESM zaplanujesz wydarzenia dotyczące jednego bądź grupy pracowników naraz, a zintegrowana aplikacja na twój telefon przypomni o nich w dogodnym czasie.</p>
            </div>
        </div>
    </section>
    <section class="home__team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 team__heading">
                    <h2>Nasz Team</h2>
                </div>
                </div>
            <div class="row flex">
                <div class="col-xs-12 col-sm-6">
                    <img src="~/Media/max.jpg" height="300" alt="Alternate Text" class="img-circle center-block" />
                    <h4>Maksymilian Matuła</h4>
                    <p>Student 2 roku Informatyki. Pasjonat frontendu i niesprecyzowanych warunków zaliczenia.</p>
                    <ul class="h3">
                        <li><i class="fa fa-check"></i> C#</li>
                        <li><i class="fa fa-check"></i> ASP.NET MVC 5</li>
                        <li><i class="fa fa-check"></i> GIT</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">

                    
                        <img src="~/Media/grzes.jpg" height="300" alt="Alternate Text" class="img-circle center-block" />
                        <h4>Grzegorz Wójcik</h4>
                        <p>Programista front-end'owy z zamiłowaniem do rozpoczynania nowych projektów i ich nie kończenia. Prywatnie nie wie w co ręce włożyć, więc nie wkłada.</p>
                    
                    
                        <ul class="h3">
                            <li><i class="fa fa-check"></i> HTML / CSS / JS</li>
                            <li><i class="fa fa-check"></i> PHP</li>
                            <li><i class="fa fa-check"></i> VUE.JS </li>
                        </ul>
                    
                </div>
            </div>
            <hr />
            <div class="row flex">
                
            </div>
        </div>
    </section>
</div>