<div class="home-index">
    <section class="col-xs-12">

        <div class="jumbotron">
            <div class="container">
                <h1>ESM</h1>
                <p>Nowoczesny system zarządzania pracownikami</p>
                <p>
                    @Html.ActionLink("Dowiedz się więcej", "About", "Home", new { @class = "btn btn-primary btn-lg" })
                </p>
            </div>
        </div>

    </section>
    <section class="home-features col-xs-12">
        <div class="row">
            <div class="col-sm-4 text-center">
                <i class="fas fa-users fa-5x"></i>
                <h3>Zarzadzanie pracownikami</h3>
                <br />
                <p>
                    System ESM oferuje kompleksowe zarządzanie pracownikami w Twojej firmie! Niezależnie czy zarządzasz małą rodzinną firmą czy korporacją
                    zatrudniającą setki pracowników... Kiedy poznasz możliwości ESM nie będziesz umiał bez niego pracować!
                </p>
            </div>

            <div class="col-sm-4 text-center">
                <i class="fas fa-clock fa-5x"></i>
                <h3>Historia kariery</h3>
                <br />
                <p>Możesz śledzić na bierzaco historię kariery swoich pracowników. Każda zmiana wynagrodzenia, szkolenia, awanse są automatycznie zapisywane w historii pracownika.</p>
            </div>

            <div class="col-sm-4 text-center">
                <i class="fas fa-calendar fa-5x"></i>
                <h3>Kalendarz wydarzeń</h3>
                <br />
                <p>Już nigdy więcej nie zapomnisz o kończącej się umowie pracownika. Nigdy więcej nie pominiesz ważnego wydarzenia. Dzięki ESM zaplanujesz wydarzenia dotyczące jednego bądź grupy pracowników naraz, a zintegrowana aplikacja na twój telefon przypomni o nich w dogodnym czasie.</p>
            </div>
        </div>
    </section>
</div>