<section class="col-xs-12">
    
    <div class="jumbotron">
        <div class="container">
            <h1>ESM</h1>
            <p>Nowoczesny system zarządzania pracownikami</p>
            <p>
                @Html.ActionLink("Dowiedz się więcej","About","Home", new { @class="btn btn-primary btn-lg"})
            </p>
        </div>
    </div>
    
</section>
<section class="home-features col-xs-12">
    <div class="row">
        <div class="col-sm-4 text-center">
            <i class="fas fa-users fa-5x"></i>
            <h4>Zarzadzanie pracownikami</h4>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-clock fa-5x"></i>
            <h4>Historia kariery</h4>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-calendar fa-5x"></i>
            <h4>Kalendarz wydarzeń</h4>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>
    </div>
</section>