<section class="home__team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 team__heading">
                <h2>Zespół</h2>
            </div>
        </div>
        <div class="row flex">
            <div class="col-xs-12 col-sm-6">
                <img src="~/Media/max.jpg" height="300" alt="Alternate Text" class="img-circle center-block" />
                <h4>Maksymilian Matuła</h4>
                <p>Student 2 roku Informatyki. Pasjonat .NET'u i niesprecyzowanych warunków zaliczenia.</p>
                <ul class="h3">
                    <li><i class="fa fa-check"></i> C#</li>
                    <li><i class="fa fa-check"></i> ASP.NET MVC 5</li>
                    <li><i class="fa fa-check"></i> GIT</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">


                <img src="~/Media/grzes.jpg" height="300" alt="Alternate Text" class="img-circle center-block" />
                <h4>Grzegorz Wójcik</h4>
                <p>Programista front-end'owy z zamiłowaniem do rozpoczynania nowych projektów i ich nie kończenia. Prywatnie nie wie w co ręce włożyć, więc nie wkłada.</p>


                <ul class="h3">
                    <li><i class="fa fa-check"></i> HTML / CSS / JS</li>
                    <li><i class="fa fa-check"></i> PHP</li>
                    <li><i class="fa fa-check"></i> VUE.JS </li>
                </ul>

            </div>
        </div>
        <div class="row flex">

        </div>
    </div>
</section>

