@model IEnumerable<ESM.Models.Company>

<div id="companieslist-section" class="col-xs-12">
    <div class="row">
            <ul class="employees-list">
                @foreach (var item in Model)
                {

                    <li class="employees-list__item employee">
                        <a href="@Url.Action("Details", "Companies", new { id = item.CompanyId })">
                            <img src="@item.Logo" alt="" class="employee__image img-circle img-responsive" />
                            <h4 class="employee__name"><span class="name">@item.Name</span> </h4>
                            <h5 class="employee__title">@item.Description</h5>
                        </a>
                    </li>

                }
            </ul>
    </div>
</div>
