.btn {
    border-radius: 0;
    border: none;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 5px rgba($black, 0.2);
    padding: 10px 30px;
    letter-spacing: 1px;

    @include btn-hover {
        transform: translateY(-2px);
    }

    &-success {
        @include generate-btn($tetriary--light, $white);
        background-image: $primary-gradient;
    }

    &-primary {
        @include generate-btn($primary--light, $white);
    }

    &-danger {
        @include generate-btn(#F44336, $white);
    }

    &-link {
        padding: 0;
        display: inline;
        color: $secondary;

        &:hover, &:focus {
            box-shadow: none;
            outline: none;
            color: $tetriary;
            text-decoration: none;
            transform: translate(0,0);
            &:active {
                box-shadow: none;
                outline: none;
                color: $tetriary;
            }
        }
    }
}
