.panel-default {
    border: none;
    border-radius: 0;
    .panel-heading {
        background-color: $primary--dark;
        color: $white;
        border-radius: 0;
    }
    .panel-body{
        background-color: $primary;
        color: $white;
        border-top: none !important;
    }
    .panel-title{
        a{
            @include padding-tb($offset--medium);
            display: block;
        }
    }
}
